<h1>Messages:</h1><br/>
<% @messages.each do |message| %>
    <% if message.inspected? == true %>
      <p><%= message.text %></p>
      <p><%= message.username %></p>
    <% end %>
<% end %>

<h2>New Message:</h2>

<%= form_for :message, url: messages_path do |f| %>
    <p>
      <%= f.label :text %><br/>
      <%= f.text_area :text %>
    </p>
    <p>
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>